@import "utils";


/* animation 1 : loader */

$loader-anim-dur: 2s;
$loader-anim-delay: 0.2s;

$duration: (random(2000) + 1000) * 1ms;

body{
    height: auto; 
    overflow: hidden;
    animation: site-displayed $duration linear forwards;
}

.loader {
    position: absolute;
    top:0;
    left: 0;
    z-index: 100;
    background: radial-gradient(at top left, $secondary, $primary);
    color: #eee;
    height: 100vh;
    width: 100vw;
    font-family: $fontfam1;
    animation: loader-vanished $duration steps(1, end) forwards;
}

.fork{
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.letter-container {
    position: absolute;
    top: calc(50% - 6rem);
    left: calc(50% - .75rem);
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    animation: turning $loader-anim-dur linear infinite;
    transform-origin: center 6rem;
}

@for $i from 2 through 9 {
    .letter-container:nth-child(#{$i}) {
        animation-delay: $loader-anim-delay * $i * -1;
    }
}

@keyframes turning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@keyframes site-displayed{
    to{
        height: auto;
        overflow: auto;
    }
}

@keyframes loader-vanished{
    to{
        transform: scale(0);
    }
}




/* animation 2 : restaurant favourite */

.restaurant-favourite{
    .restaurant-loved{
        --scale: 0;
        --beam-transY: 0rem;

        position: relative;
        cursor: pointer;
        font-size: 1.25rem;

        &:hover{
            .heart-filled{
                display: inline;
            }

            .beam{
                display: inline;
            }

        }

        .heart{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // display: none;
        }

        .heart-filled{
            // color: $heart-color;
            z-index: 10;
            display: none;
            transform:  translate(-50%, -50%) scale(0);
            animation: .25s beat-it linear forwards;
            background: linear-gradient($primary, $secondary);
            background-clip: text;
            color: transparent;
            -webkit-text-fill-color: #0000;
        }

        .beam{
            position: absolute;
            width: 1px;
            height: .25rem;

            display: none;

            top: calc(50% - .2rem);
            left: calc(50% - 1px);

            @for $i from 1 through 7{
                &:nth-child(#{$i}){
                    transform: rotate(72deg * ($i +.5));
                }
            }

            &::after{
                content:"";
                height: inherit;
                width: inherit;
                position: absolute;
                background: $primary;             
                animation: .25s beam-spread .1s linear forwards;
            }
        }
    }
}

@keyframes beat-it {
    0%{
        transform:  translate(-50%, -50%) scale(0);
    }
    80%{
        transform:  translate(-50%, -50%) scale(1.3);
    }
    100%{
        transform:  translate(-50%, -50%) scale(1);
    }    
}

@keyframes beam-spread {
    0%{
        opacity:1;
        transform: translateY(0rem)

    }
    90%{
        opacity:1;
        transform: translateY(1rem)
    }

    100%{
        opacity: 0;
        transform: translateY(1.25rem)
    }
    
}
