@import "utils";

/* animation 1 : loader */

$duration: (random(2000) + 1000) * 1ms;// time before vanishing

// text animation variables
$loader-anim-dur: 2s;
$loader-anim-delay: 0.2s;


/* loader container */
.loader {
    position: absolute;
    inset: 0;
    z-index: 100;
    background: $bg2;
    color: $primary;
    font-family: $fontfam1;
    animation: loader-vanished $duration steps(1, end) forwards;
}

@keyframes loader-vanished {
    to {
        transform: scale(0);
    }
}

/* loader content */
.fork {
    font-size: 2.5rem;
    position: absolute;
    display: grid;
    place-content: center;
    top: 50vh;
    left: 50%;
    color: #fff;
    border-radius: 99px;
    width: 7.5rem;
    aspect-ratio: 1 / 1;
    background: radial-gradient($secondary 50%, $primary 52%);
    transform: translate(-50%, -50%);
}

.letter-container {
    position: absolute;
    top: calc(50vh - 6rem);
    left: calc(50% - 0.75rem);
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    animation: turning $loader-anim-dur linear infinite;
    transform-origin: center 6rem;
}

@for $i from 2 through 9 {
    .letter-container:nth-child(#{$i}) {
        animation-delay: $loader-anim-delay * $i * -1;
    }
}

@keyframes turning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* animation 2 : restaurant favourite */

.restaurant-favourite {
    .restaurant-loved {
        --scale: 0;
        --beam-transY: 0rem;

        position: relative;
        cursor: pointer;
        font-size: 1.25rem;

        &:hover {
            .heart-filled {
                display: inline;
            }

            .beam {
                display: inline;
            }
        }

        .heart {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .heart-filled {
            z-index: 10;
            display: none;
            transform: translate(-50%, -50%) scale(0);
            animation: 0.25s beat-it linear forwards;
            background: linear-gradient($primary, $secondary);
            background-clip: text;
            color: transparent;
            -webkit-text-fill-color: #0000;
        }

        .beam {
            position: absolute;
            width: 1px;
            height: 0.25rem;

            display: none;

            top: calc(50% - 0.2rem);
            left: calc(50% - 1px);

            @for $i from 1 through 7 {
                &:nth-child(#{$i}) {
                    transform: rotate(72deg * ($i + 0.5));
                }
            }

            &::after {
                content: "";
                height: inherit;
                width: inherit;
                position: absolute;
                background: $primary;
                animation: 0.25s beam-spread 0.1s linear forwards;
            }
        }
    }
}

@keyframes beat-it {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    80% {
        transform: translate(-50%, -50%) scale(1.3);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes beam-spread {
    0% {
        opacity: 1;
        transform: translateY(0rem);
    }
    90% {
        opacity: 1;
        transform: translateY(1rem);
    }

    100% {
        opacity: 0;
        transform: translateY(1.25rem);
    }
}
