@import "utils";

/* buttons */

a.restaurant-link-btn, .command-btn{
    width: fit-content;
    padding: 1.5rem 2rem;
    margin: 1rem auto;
    background: radial-gradient(at top left, $secondary, $primary);
    border-radius: 99rem;
    color: #fff;
    box-shadow: 0px 4px 5px 2px #0002;
}

.command-btn{
    position: relative;
    left: 25%;
    width: 50%;
    border: none;
    cursor: pointer;
    padding: 1rem 2rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}