@import "utils";

/* restaurant-style */

/* restaurant-banner */

.restaurant-illus {
    width: 100%;
    height: 250px;

    img {
        @include image-cover;
    }
}

.restaurant-infos {
    position: relative;
    border-radius: 40px 40px 0 0;
    top: -40px;
    height: 100px;
    background: $bg1;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .restaurant-name {
        font-size: 1.75rem;
        font-family: $fontfam1;
    }
}

/* menu */

.course-title {
    display: block;
    position: relative;
    text-transform: uppercase;
    // letter-spacing: .1rem;
    &::after {
        content: "";
        position: absolute;
        top: 1.25rem;
        left: 0;
        height: 3px;
        width: 2.5rem;
        background: $tertiary;
    }
}

.dish {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    width: 90%;
    border: 2px solid red;
    border-radius: 15px;
    // padding: 15px 7.5px;
    overflow: hidden;

    &:hover {
        .dish-infos {
            width: calc(70%);
        }

        .dish-ordered {
            transform: translate(-50%px, -50%);
    }
}
}

.dish-infos {
    width: 80%;
    // transform: scaleX(50%);
    padding: .5rem .75rem;
    line-height: 1.75rem;

    transition: width 0.25s linear;

    .dish-name{
        font-weight: bold;
        font-size: 1.25rem;
    }

    p {
        width: 100%;
        // transform: scaleX(200%);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.dish-price {
    width: 10%;
    position: relative;
}

.dish-ordered {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(80px, -50%);
    width: 80px;
    background: $tertiary;
    color: white;
    // height: 100%;
    transition: transform 0.25s linear;
    display: grid;
    place-content: center;
}
