@import "utils";

$delay: 0.25s;
$duration: 0.5s;
/* restaurant-style */

/* restaurant-banner */

.restaurant-banner {
    margin-bottom: -40px;
}

.restaurant-illus {
    width: 100%;
    height: 250px;

    img {
        @include image-cover;
    }
}

.restaurant-infos {
    position: relative;
    border-radius: 40px 40px 0 0;
    top: -40px;
    height: 100px;
    background: $bg1;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .restaurant-name {
        font-size: 1.75rem;
        font-family: $fontfam1;
    }
}

/* menu */

.course-title {
    display: block;
    position: relative;
    text-transform: uppercase;
    margin: 0 auto;
    &::after {
        content: "";
        position: absolute;
        top: 1.25rem;
        left: 0;
        height: 3px;
        width: 2.5rem;
        background: $tertiary;
    }
}

/* displaying course delay */
.menu-course {
    > * {
        width: 90%;
    }

    &:not(:nth-child(2)) {
        padding-top: 25px;
    }

    @for $i from 2 through 4 {
        &:nth-child(#{$i}) {
            @for $j from 2 through 5 {
                .dish:nth-child(#{$j}) {
                    animation-delay: (($j - 2) + (($i - 2) * 4)) * $delay;
                }
            }
        }
    }
}

.dish {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    background: #fff;
    border-radius: 15px;
    box-shadow: 2px 2px 8px 0 #00000025;
    animation: $duration fade-in forwards;
    opacity: 0;
    transform: translateY(10px);
    overflow: hidden;

    /* hover animation */

    &:hover {
        .dish-infos {
            width: calc(80% - 3rem);
        }

        .dish-ordered {
            transform: translate(0px, -50%);
            > .dish-ordered-check {
                transform: rotate(360deg);
            }
        }
    }
}

.dish-infos {
    width: 80%;
    padding: 0.5rem 0.75rem;

    transition: 0.25s width .1s linear;

    .dish-name {
        font-weight: bold;
        font-size: 1.25rem;
        padding-bottom: 0.75rem;
    }

    p, h4 {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.dish-price {
    width: 10%;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 0.5rem 0;
    font-weight: bold;
}

.dish-ordered {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(3rem, -50%);
    width: 3rem;
    height: 100%;
    background: $tertiary;
    color: white;
    font-size: 1.25rem;
    transition: 0.25s transform .05s linear;
    display: grid;
    place-content: center;

    > .dish-ordered-check {
        transform: rotate(0deg);
        transition: 0.25s transform 0.25s linear;
    }
}

@keyframes fade-in {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
