@media (min-width: 768px) {
    :root {
        font-size: 20px;
    }

    .instructions {
        height: auto;
        gap: 1.25rem;

        h2 {
            text-align: center;
        }

        .instruction-card {
            width: 45%;
        }
    }

    #restaurants {
        h2 {
            text-align: center;
        }
    }

    .restaurant {
        width: 45%;
    }
}

@media (min-width: 1024px) {
    .instructions {
        .instruction-card {
            width: max(30%, 350px);
        }
    }

    .restaurant {
        width: 22.5%;
    }
}
