@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap'), 'reset', 'animations', 'button', 'header', 'footer', 'index', 'restaurant', 'responsive';

html{
    scroll-behavior: smooth;
}

body{
    max-width: 1300px;
    margin: auto;
    background: $bg1;
    font-family: roboto, sans-serif;
    box-shadow: 0 0 10vw black;
}
