@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap'), 'reset', 'animations', 'button', 'header', 'footer', 'index', 'restaurant', 'responsive';

html{
    background: #00f5;
    scroll-behavior: smooth;
}

body{
    width: min(100%, 1300px);
    margin: auto;
    background: $bg1;
    font-family: roboto, sans-serif;
}
