@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap'), './base/reset', './components/button', './layout/footer', './layout/header', './pages/index', './pages/restaurant', './utils/animations';

html{
    scroll-behavior: smooth;
}

body{
    max-width: 1600px;
    margin: auto;
    background: $bg1;
    font-family: roboto, sans-serif;
    box-shadow: 0 0 10vw black;
}

/* responsive */

@media (min-width: 768px) {
    :root {
        font-size: 20px;
    }
}