@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

/* animation 1 : loader */
/* loader container */
.loader {
  position: absolute;
  inset: 0;
  z-index: 100;
  background: #fff;
  color: #9356dc;
  font-family: shrikhand;
  -webkit-animation: loader-vanished 1028ms steps(1, end) forwards;
          animation: loader-vanished 1028ms steps(1, end) forwards;
}

@-webkit-keyframes loader-vanished {
  to {
    transform: scale(0);
  }
}

@keyframes loader-vanished {
  to {
    transform: scale(0);
  }
}
/* loader content */
.fork {
  font-size: 2.5rem;
  position: absolute;
  display: grid;
  place-content: center;
  top: 50vh;
  left: 50%;
  color: #fff;
  border-radius: 99px;
  width: 7.5rem;
  aspect-ratio: 1/1;
  background: radial-gradient(#ff79da 50%, #9356dc 52%);
  transform: translate(-50%, -50%);
}

.letter-container {
  position: absolute;
  top: calc(50vh - 6rem);
  left: calc(50% - 0.75rem);
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  -webkit-animation: turning 2s linear infinite;
          animation: turning 2s linear infinite;
  transform-origin: center 6rem;
}

.letter-container:nth-child(2) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.letter-container:nth-child(3) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.letter-container:nth-child(4) {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.letter-container:nth-child(5) {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.letter-container:nth-child(6) {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}

.letter-container:nth-child(7) {
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
}

.letter-container:nth-child(8) {
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}

.letter-container:nth-child(9) {
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
}

@-webkit-keyframes turning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes turning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* animation 2 : restaurant favourite */
.restaurant-favourite .restaurant-loved {
  --scale: 0;
  --beam-transY: 0rem;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
}
.restaurant-favourite .restaurant-loved:hover .heart-filled {
  display: inline;
}
.restaurant-favourite .restaurant-loved:hover .beam {
  display: inline;
}
.restaurant-favourite .restaurant-loved .heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.restaurant-favourite .restaurant-loved .heart-filled {
  z-index: 10;
  display: none;
  transform: translate(-50%, -50%) scale(0);
  -webkit-animation: 0.25s beat-it linear forwards;
          animation: 0.25s beat-it linear forwards;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}
.restaurant-favourite .restaurant-loved .beam {
  position: absolute;
  width: 1px;
  height: 0.25rem;
  display: none;
  top: calc(50% - 0.2rem);
  left: calc(50% - 1px);
}
.restaurant-favourite .restaurant-loved .beam:nth-child(1) {
  transform: rotate(108deg);
}
.restaurant-favourite .restaurant-loved .beam:nth-child(2) {
  transform: rotate(180deg);
}
.restaurant-favourite .restaurant-loved .beam:nth-child(3) {
  transform: rotate(252deg);
}
.restaurant-favourite .restaurant-loved .beam:nth-child(4) {
  transform: rotate(324deg);
}
.restaurant-favourite .restaurant-loved .beam:nth-child(5) {
  transform: rotate(396deg);
}
.restaurant-favourite .restaurant-loved .beam:nth-child(6) {
  transform: rotate(468deg);
}
.restaurant-favourite .restaurant-loved .beam:nth-child(7) {
  transform: rotate(540deg);
}
.restaurant-favourite .restaurant-loved .beam::after {
  content: "";
  height: inherit;
  width: inherit;
  position: absolute;
  background: #9356dc;
  -webkit-animation: 0.25s beam-spread 0.1s linear forwards;
          animation: 0.25s beam-spread 0.1s linear forwards;
}

@-webkit-keyframes beat-it {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.3);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes beat-it {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.3);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@-webkit-keyframes beam-spread {
  0% {
    opacity: 1;
    transform: translateY(0rem);
  }
  90% {
    opacity: 1;
    transform: translateY(1rem);
  }
  100% {
    opacity: 0;
    transform: translateY(1.25rem);
  }
}
@keyframes beam-spread {
  0% {
    opacity: 1;
    transform: translateY(0rem);
  }
  90% {
    opacity: 1;
    transform: translateY(1rem);
  }
  100% {
    opacity: 0;
    transform: translateY(1.25rem);
  }
}
/* buttons */
a.restaurant-link-btn,
.command-btn {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5rem 2rem;
  margin: 1rem auto;
  background: radial-gradient(at top left, #ff79da, #9356dc);
  border-radius: 99rem;
  color: #fff;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.1333333333);
}
a.restaurant-link-btn:hover,
.command-btn:hover {
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.3333333333);
}
a.restaurant-link-btn:hover::after,
.command-btn:hover::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.1333333333);
  border-radius: inherit;
  pointer-events: none;
}

.command-btn {
  position: relative;
  left: 25%;
  width: 50%;
  border: none;
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}

/* header */
header {
  position: relative;
  width: 100%;
  box-shadow: 0px 4px 2px -1px rgba(0, 0, 0, 0.1333333333);
  z-index: 2;
}
header .logo {
  text-align: center;
  background: #fff;
  font-size: 2rem;
  font-family: shrikhand;
  overflow: hidden;
  padding: 12px 0;
}
header .back-btn {
  height: 100%;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.5rem;
}

footer {
  background: #353535;
  color: #fff;
  line-height: 2rem;
  padding: 2rem;
}
footer h1 {
  font-size: 1.25rem;
  font-family: shrikhand;
  overflow: hidden;
  padding-bottom: 0.5rem;
}
footer i {
  width: 1.75rem;
}

/* Home Page */
.home-main section:not(:nth-child(1)) {
  padding: 0 1.25rem;
}
.home-main h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 1.5rem;
}
.banner > * {
  text-align: center;
}
.banner .place {
  position: relative;
  display: flex;
  place-content: center;
  padding: 12px 0;
  background: #eaeaea;
}
.banner .place #town-input {
  color: #000;
  font-weight: bold;
  margin-left: 1.5rem;
}
.banner .place #town-input::-moz-placeholder {
  color: inherit;
  font-weight: inherit;
}
.banner .place #town-input:-ms-input-placeholder {
  color: inherit;
  font-weight: inherit;
}
.banner .place #town-input::placeholder {
  color: inherit;
  font-weight: inherit;
}
.banner .place .geoloc {
  cursor: pointer;
}
.banner .place #town-input, .banner .place .geoloc {
  border: none;
  background: inherit;
  font-size: inherit;
}
.banner h2 {
  padding: 2rem 4rem 1.5rem;
  line-height: 2rem;
}
.banner p {
  line-height: 1.25rem;
}

.instructions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.25rem 0;
  margin: 40px 0;
  background: #fff;
}
.instructions h2 {
  width: 100%;
  padding-top: 1.25rem;
}

.instruction-card {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1.75rem 0;
  border-radius: 20px;
  background: #f7f7f7;
  width: 100%;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.1333333333);
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}
.instruction-card:hover {
  background: rgba(147, 86, 220, 0.1254901961);
}
.instruction-card:hover .instruction-icon {
  color: #9356dc;
}
.instruction-card .instruction-step {
  position: absolute;
  left: 0;
  transform: translate(-50%);
  background: #9356dc;
  border-radius: 50%;
  height: 1.5rem;
  aspect-ratio: 1/1;
  line-height: 1.5rem;
  font-size: 0.75rem;
  color: #fff;
  text-align: center;
  z-index: 10;
}
.instruction-card .instruction-icon {
  padding: 0 1.5rem 0 2.25rem;
  color: #7e7e7e;
  font-size: 1.25rem;
  transition: color 0.25s ease-in-out;
}
.instruction-card .instruction-txt {
  font-weight: bold;
}

#restaurants {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.25rem 0;
  margin: 40px 0;
}
#restaurants h2 {
  width: 100%;
}

.restaurant {
  position: relative;
  height: 250px;
  width: 100%;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.1333333333);
  cursor: pointer;
}
.restaurant .restaurant-img-container {
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: 75%;
}
.restaurant .restaurant-img-container img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant .restaurant-img-container .new-restaurant {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #008766;
  background: #99e2d0;
  border-radius: 2px;
  padding: 0.5rem 1rem;
}
.restaurant .restaurant-description-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25%;
  padding: 0 2rem 0 1rem;
}
.restaurant .restaurant-description-container > * {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.restaurant .restaurant-description-container .restaurant-name {
  font-weight: bold;
}
.restaurant .restaurant-description-container .restaurant-place {
  font-size: 0.9rem;
}
.restaurant:hover {
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.3333333333);
}
.restaurant:hover::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.1333333333);
  border-radius: inherit;
  pointer-events: none;
}

/* restaurant page */
/* restaurant-banner */
.restaurant-banner {
  margin-bottom: -40px;
}

.restaurant-illus {
  width: 100%;
  height: 250px;
}
.restaurant-illus img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant-infos {
  position: relative;
  border-radius: 40px 40px 0 0;
  top: -40px;
  height: 100px;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.restaurant-infos .restaurant-name {
  font-size: 1.75rem;
  font-family: shrikhand;
}

/* menu */
.course-title {
  display: block;
  position: relative;
  text-transform: uppercase;
  margin: 0 auto;
}
.course-title::after {
  content: "";
  position: absolute;
  top: 1.25rem;
  left: 0;
  height: 3px;
  width: 2.5rem;
  background: #99e2d0;
}

.menu-course {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.25rem 0;
  margin: 40px 0;
  margin: 0;
  display: inline-flex;
  width: 100%;
  /* displaying course delay */
}
.menu-course > * {
  width: 90%;
}
.menu-course:not(:nth-child(2)) {
  padding-top: 25px;
}
.menu-course:nth-child(2) .dish:nth-child(2) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.menu-course:nth-child(2) .dish:nth-child(3) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.menu-course:nth-child(2) .dish:nth-child(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.menu-course:nth-child(2) .dish:nth-child(5) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.menu-course:nth-child(3) .dish:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.menu-course:nth-child(3) .dish:nth-child(3) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}
.menu-course:nth-child(3) .dish:nth-child(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.menu-course:nth-child(3) .dish:nth-child(5) {
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}
.menu-course:nth-child(4) .dish:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.menu-course:nth-child(4) .dish:nth-child(3) {
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s;
}
.menu-course:nth-child(4) .dish:nth-child(4) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.menu-course:nth-child(4) .dish:nth-child(5) {
  -webkit-animation-delay: 2.75s;
          animation-delay: 2.75s;
}

.dish {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 15px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1450980392);
  -webkit-animation: 0.5s fade-in forwards;
          animation: 0.5s fade-in forwards;
  opacity: 0;
  transform: translateY(10px);
  overflow: hidden;
  /* hover animation */
}
.dish:hover .dish-infos {
  width: calc(80% - 3rem);
}
.dish:hover .dish-ordered {
  transform: translate(0px, -50%);
}
.dish:hover .dish-ordered > .dish-ordered-check {
  transform: rotate(360deg);
}

.dish-infos {
  width: 80%;
  padding: 0.5rem 0.75rem;
  transition: 0.25s width 0.1s linear;
}
.dish-infos .dish-name {
  font-weight: bold;
  font-size: 1.25rem;
  padding-bottom: 0.75rem;
}
.dish-infos p,
.dish-infos h4 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dish-price {
  width: 10%;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 0.5rem 0;
  font-weight: bold;
  transition: 0.25s width 0.1s linear;
}

.dish-ordered {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(3rem, -50%);
  width: 3rem;
  height: 100%;
  background: #99e2d0;
  color: white;
  font-size: 1.25rem;
  transition: 0.25s transform 0.05s linear;
  display: grid;
  place-content: center;
}
.dish-ordered > .dish-ordered-check {
  transform: rotate(0deg);
  transition: 0.25s transform 0.25s linear;
}

@-webkit-keyframes fade-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (min-width: 768px) {
  :root {
    font-size: 20px;
  }
  /* index page*/
  .instructions {
    height: auto;
    gap: 1.25rem;
  }
  .instructions h2 {
    text-align: center;
  }
  .instructions .instruction-card {
    width: 45%;
  }
  #restaurants h2 {
    text-align: center;
  }
  .restaurant {
    width: 45%;
  }
}
@media (min-width: 1024px) {
  /* index page */
  .instructions .instruction-card {
    width: max(30%, 350px);
  }
  .restaurant {
    width: 22.5%;
  }
  /*restaurant page*/
  .menu-course {
    width: 33%;
  }
  .dish-infos {
    width: 90%;
  }
  .dish-price {
    width: 90%;
    justify-content: flex-end;
  }
  .dish:hover .dish-infos {
    width: calc(90% - 3rem);
  }
  .dish:hover .dish-price {
    width: calc(90% - 3rem);
  }
  .command-btn {
    margin: 2.5rem;
    padding: 2rem 4rem;
    font-size: 1.5rem;
  }
  /* footer */
  ul {
    display: flex;
    justify-content: space-between;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  max-width: 1300px;
  margin: auto;
  background: #f7f7f7;
  font-family: roboto, sans-serif;
  box-shadow: 0 0 10vw black;
}/*# sourceMappingURL=style.css.map */