@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

/* buttons */
a.button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5rem 2rem;
  margin: 1rem auto;
  background: radial-gradient(at top left, #FF79DA, #9356DC);
  border-radius: 99rem;
  color: #fff;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.1333333333);
}

/* header */
header {
  background: #eaeaea;
  width: 100%;
}
header div {
  padding: 12px 0;
  display: flex;
  place-content: center;
}
header .logo {
  background: #fff;
  font-size: 2rem;
  font-family: shrikhand;
  box-shadow: 0px 4px 2px -1px rgba(0, 0, 0, 0.1333333333);
  overflow: hidden;
}
header .place {
  position: relative;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  flex: 1;
  font-size: 1rem;
}
header .place .place-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-150%, -50%);
  border: none;
  background: rgba(0, 0, 0, 0);
}

footer {
  background: #353535;
  color: #fff;
  line-height: 2rem;
  padding: 2rem;
}
footer h1 {
  font-size: 1.25rem;
  font-family: shrikhand;
  overflow: hidden;
  padding-bottom: 0.5rem;
}
footer i {
  width: 1.75rem;
}

.restaurant-favourite label {
  --scale: 0;
  --beam-transY: 0rem;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
}
.restaurant-favourite label .heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.restaurant-favourite label .heart-filled {
  z-index: 10;
  display: none;
  transform: translate(-50%, -50%) scale(0);
  -webkit-animation: 0.25s beat-it linear forwards;
          animation: 0.25s beat-it linear forwards;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}
.restaurant-favourite label .beam {
  position: absolute;
  width: 1px;
  height: 0.25rem;
  display: none;
  top: calc(50% - 0.2rem);
  left: calc(50% - 1px);
}
.restaurant-favourite label .beam:nth-child(1) {
  transform: rotate(108deg);
}
.restaurant-favourite label .beam:nth-child(2) {
  transform: rotate(180deg);
}
.restaurant-favourite label .beam:nth-child(3) {
  transform: rotate(252deg);
}
.restaurant-favourite label .beam:nth-child(4) {
  transform: rotate(324deg);
}
.restaurant-favourite label .beam:nth-child(5) {
  transform: rotate(396deg);
}
.restaurant-favourite label .beam:nth-child(6) {
  transform: rotate(468deg);
}
.restaurant-favourite label .beam:nth-child(7) {
  transform: rotate(540deg);
}
.restaurant-favourite label .beam::after {
  content: "";
  height: inherit;
  width: inherit;
  position: absolute;
  background: #9356DC;
  -webkit-animation: 0.25s beam-spread 0.1s linear forwards;
          animation: 0.25s beam-spread 0.1s linear forwards;
}
.restaurant-favourite .rest-love-cb {
  display: none;
}
.restaurant-favourite .rest-love-cb ~ label:hover .heart-filled, .restaurant-favourite .rest-love-cb:checked ~ label .heart-filled {
  display: inline;
}
.restaurant-favourite .rest-love-cb ~ label:hover .beam, .restaurant-favourite .rest-love-cb:checked ~ label .beam {
  display: inline;
}

@-webkit-keyframes beat-it {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.3);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes beat-it {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.3);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@-webkit-keyframes beam-spread {
  0% {
    opacity: 1;
    transform: translateY(0rem);
  }
  90% {
    opacity: 1;
    transform: translateY(1rem);
  }
  100% {
    opacity: 0;
    transform: translateY(1.25rem);
  }
}
@keyframes beam-spread {
  0% {
    opacity: 1;
    transform: translateY(0rem);
  }
  90% {
    opacity: 1;
    transform: translateY(1rem);
  }
  100% {
    opacity: 0;
    transform: translateY(1.25rem);
  }
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Home Page */
main section:not(:nth-child(1)) {
  padding: 0 2rem;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 15rem;
  padding: 2rem 1.5rem;
}
.banner > * {
  text-align: center;
}
.banner h2 {
  padding: 0 2rem;
  line-height: 2rem;
}
.banner p {
  line-height: 1.25rem;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #fff;
  height: 440px;
}
.instructions h2 {
  padding-top: 1.25rem;
}

.instruction-card {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1.75rem 0;
  border-radius: 20px;
  background: #f7f7f7;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.1333333333);
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}
.instruction-card:hover {
  background: rgba(147, 86, 220, 0.1254901961);
}
.instruction-card:hover .instruction-icon {
  color: #9356DC;
}
.instruction-card .instruction-step {
  position: absolute;
  left: 0;
  transform: translate(-50%);
  background: #9356DC;
  border-radius: 50%;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  aspect-ratio: 1/1;
  color: #fff;
  z-index: 10;
  font-size: 0.75rem;
}
.instruction-card .instruction-icon {
  padding: 0 1.75rem 0 2.5rem;
  color: #7e7e7e;
  font-size: 1.25rem;
  transition: color 0.25s ease-in-out;
}
.instruction-card .instruction-txt {
  font-weight: bold;
}

#restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 1220px;
}

.restaurant {
  height: 250px;
  width: 100%;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.1333333333);
}
.restaurant .restaurant-img-container {
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: 75%;
}
.restaurant .restaurant-img-container img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant .restaurant-img-container .new-restaurant {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #008766;
  background: #99E2D0;
  border-radius: 2px;
  padding: 0.5rem 1rem;
}
.restaurant .restaurant-description-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25%;
  padding: 0 2rem 0 1rem;
}
.restaurant .restaurant-description-container > * {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.restaurant .restaurant-description-container .restaurant-name {
  font-weight: bold;
}
.restaurant .restaurant-description-container .restaurant-place {
  font-size: 0.9rem;
}

html {
  background: rgba(0, 0, 255, 0.3333333333);
  scroll-behavior: smooth;
}

body {
  width: min(100%, 375px);
  margin: auto;
  background: #f7f7f7;
  font-family: roboto, sans-serif;
}/*# sourceMappingURL=style.css.map */